.vimeoFrame {
  height: 420px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .vimeoFrame {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .vimeoFrame {
    height: 400px;
  }
}
.spanClear:nth-child(2n+1) {
  clear: left;
}
